name: Orchestrator

on:
  push:
    branches:
      - main

jobs:
  call-testing-pipeline:
    name: Testing
    uses: ./.github/workflows/test.yml
  call-compiling-pipeline:
    name: CompileCython
    uses: ./.github/workflows/compile_cython.yml
  call-release-pipeline:
    name: Release
    needs:
      - call-testing-pipeline
      - call-compiling-pipeline
    uses: ./.github/workflows/release.yml
    secrets: inherit
