name: Testing

on:
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  Testing:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # TODO: add windows (doesn't support make file)
        os: [ macos-latest, ubuntu-latest ]
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
    steps:
      # check-out repo
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # install poetry
      - name: Install poetry
        run: pipx install poetry
      # set-up python with cache
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'
      # install requirements (including dev dependencies)
      - name: Install requirements
        run: poetry install --with test
      # run unit tests
      - name: Run unit-tests
        run: |
          set -o pipefail
          poetry run make unit-tests

      - name: Run unit-tests coverage
        run: |
          set -o pipefail
          poetry run make unit-tests-cov-fail
